.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:20%;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: rgb(179, 179, 179);
}

.status {
    position: relative;
    top: 2px;
}

.bar {
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

#fullBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    background-color: rgb(0, 158, 232);
    transition: width 0.3s ease-out;
}

#emptyBar {
    width: 200px;
    background-color: rgb(179, 179, 179);
}